<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button class="btn btn-success">Click Me</button>
</div>

<app-read-users></app-read-users>
-->
<!-- container -->
<div class="container">

    <!-- show page header -->
    <div class="row">
        <div class="col-md-12">
            <div class='page-header'><h1>{{title}}</h1></div>
        </div>
    </div>


    <app-read-users>

    </app-read-users>

</div>
<!-- /container -->
